{% extends 'proj/base.html.twig' %}

{% block title %}Categories{% endblock %}


{% block body %}
<div class="category-container">
    <h1>Kategori</h1>
    <ul class="category-list">
        <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Electronics'}) }}">Elektronik och sensorer</a></li>
        <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Suspension'}) }}">Framvagn/stötdämpare</a></li>
        <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Brakes'}) }}">Bromsar</a></li>
        <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Engine Parts'}) }}">Motordelar</a></li>
    </ul>
</div>
{% endblock %}

