{% extends 'proj/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<h1>Browse by Category</h1>

<ul>
    <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Electronics'}) }}">Electronics</a></li>
    <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Suspension'}) }}">Suspension</a></li>
    <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Brakes'}) }}">Brakes</a></li>
    <li><a href="{{ path('proj_brands_by_category', {'categoryName': 'Engine Parts'}) }}">Engine Parts</a></li>
</ul>
{% endblock %}
