{% extends 'proj/base.html.twig' %}

{% block title %}Skapa ett märke{% endblock %}

{% block body %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% include 'forms/create.html.twig' %}
{% endblock %}
