{% extends "proj/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
 <h1>Välkommen till kvalitet informations sidan</h1>

 <p> Trött på att alltid beställa bil delar av lågt kvalitet? Inte nu längre! Vi hjälper och lär dig vilka märken som har bra kvalitet och som håller länge </p>
   
    
{% endblock %}