{% extends "proj/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
 <h1>Välkommen till märkes kvalitet informations sidan</h1>
 <div class="grid-container-dynamic">
<div class="intro-main-page">
 <p> Trött på att alltid beställa bil delar av lågt kvalitet? Inte nu längre! Vi hjälper och lär dig vilka märken som har bra kvalitet och som håller länge. </p>
   
<p> Klicka här för att komma till ett exempel </p>
</div>
</div>
{% endblock %}