{% extends "proj/base.html.twig" %}

{% block title %}Om sidan{% endblock %}

{% block body %}
<div class="about-container">
    <h1>Om denna sida</h1>
    <p>
        Denna sida är skapad för att ge dig tydlig och pålitlig information om bilreservdelar och märken med hög kvalitet. 
        Här kan du lära dig vilka märken som är kända för att hålla länge och prestera bäst, så att du kan göra smarta köpbeslut. 
        Det kan vara svårt att veta vilka märken som producerar bra kvalitets bildelar. Vi vill göra det lätt för dig genom att samla all 
        information på ett enda ställe så att du slipper söka och läsa på flera olika ställen.
    </p>
</div>
{% include 'proj/forms/footer-main.html.twig' %}
{% endblock %}
