{% extends "base.html.twig" %}

{% block title %}Card Draw{% endblock %}

{% block body %}
    <h3>Card Draw</h3>

    {% if drawnCard %}
        <p>Drawn Card: {{ drawnCard.value }} of {{ drawnCard.suit }}</p>
        <p>Number of cards left in the deck: {{ remainingCards }}</p>
    {% else %}
        <p>No cards left in the deck</p>
    {% endif %}
{% endblock %}

