{% extends "base.html.twig" %}
{% block title %}Card{% endblock %}

{% block body %}
   <p> Welcome to 21 </p>

   <li class="navbar-item"><a href="{{ path('card_deck_draw_game') }}" class="navbar-link">Play 21 </a></li>
{% endblock %}