{% extends "base.html.twig" %}
{% block title %}Card{% endblock %}

{% block body %}

<h3> Card deck </h3>
 <ul class="card-grid">
        {% for card in deck.cards %}
            <li class="card">{{ card.value }} of {{ card.suit }}</li>
        {% endfor %}
    </ul>


{% endblock %}