{% extends "base.html.twig" %}
{% block title %}Session{% endblock %}

{% block body %}
   <h1>Session Contents</h1>
    <ul>
        {% for key, value in sessionData %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    {% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}