:root {
    --primary-color: #007bff;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    padding: 20px;
}

.left-column {
    background-color: #a93434;
}

.right-column {
    background-color: #ececec;
}

.img-style {
    width: 100%;
    max-width: 500px;
}
.header-back{
    background-color: #d52828;
    color: #ffffff;
    text-align: center;
}