{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<div class="grid-container-dynamic">
    <h3>Game</h3>
<h3> The bank </h3>



<h3> Player </h3>


</div>
{% endblock %}