{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<div class="grid-container-dynamic">
    <h3>Welcome to 21 </h3>
<p> Press the play button to start a game </p>

<li class="navbar-item"><a href="{{ path('card_play') }}" class="navbar-link">Game </a></li>
</div>
{% endblock %}