{# templates/card/session_debug.html.twig #}

<h3>Session Debug</h3>

<h4>Session Data:</h4>
<pre>
    {{ dump(sessionData) }}
</pre>

<p>Här kan du se all data som lagras i sessionen för att hjälpa dig med felsökning.</p>