{% extends "base.html.twig" %}

{% block title %}Shuffled Card Deck{% endblock %}

{% block body %}
    <h3>Shuffled Card Deck</h3>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <ul class="card-grid">
        {% for card in cards %}
            {% set colorClass = (card.suit == 'Hearts' or card.suit == 'Diamonds') ? 'red' : 'black' %}
            <li class="card game-card {{ colorClass }}">
                {{ card.unicode }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}