.game-background {
    background-color: green;
}

.game-card {
    width: 60px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-game {
    margin-top: 5%;
}


.card-grid {
    display: grid;

    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-gap: 10px;
    list-style: none;
    padding: 0;
}

.red {
    color: red !important;
}

.black {
    color: black;
}


.card {
    font-size: 24px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.img-style {
    width: 100%;
    max-width: 500px;
}

.custom-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-btn:hover {
    background-color: #357ABD;
}

.custom-btn-stop:hover {
    background-color: #0be019;
}

.custom-btn-stop {
    margin: 20px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #e8160e;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-rules {
    background-color: #f8f8f8;
    padding: 10px;
    border-left: 4px solid #007bff;
    margin-bottom: 20px;
    font-size: 1.1em;
}
