<footer class="footer-content-brand">
    <div>
        <ul class="footer-links">
            <li><a href="https://github.com/rebahama/bth-mvc-1">Link to personal GitHub Repository</a></li>
            <li><a href="https://github.com/dbwebb-se/mvc">Link to GitHub course repo</a></li>
        </ul>
    </div>
</footer>