   <form action="{{ path('library_delete_by_id', { id: library.id }) }}" method="post" style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ library.id) }}">
    <button class="custom-btn-stop" onclick="return confirm('Are you sure you want to delete this book?');">
        Delete
    </button>
</form>