{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<h2> Welcome to library page </h2>
<div class="grid-container-dynamic">
<a href="{{ path('library_view_all') }}" class="navbar-link">Library </a>
<a href="{{ path('library_create') }}" class="navbar-link">Create a book </a>

</div>
{% endblock %}
