{% extends 'base.html.twig' %}

{% block title %}Library Collection{% endblock %}

{% block body %}
    <h1>Library Collection</h1>
<div class="grid-container-dynamic">
    <div>
        {% for book in libraries %}
            <div class="book-style">
                <h3>{{ book.title }}</h3>
                {% if book.imagePath %}
                    <img src="{{ asset(book.imagePath) }}" alt="Book image" style="width: 100%;">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <a href="{{ path('library_view_one', { id: book.id }) }}" class="custom-btn">
                    Show details
                </a>
            </div>
        {% else %}
            <p>No books found in the library.</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}