{% extends "base.html.twig" %}
{% block title %}API{% endblock %}

{% block body %}
<h2>API routes</h2>
<div class="grid-container-dynamic">
<p> This list contains diffrent api routes that you can input </p>
<ul>
<li> api/quote - To show random quotes </li>

 </ul>
</div>
{% endblock %}